<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SpaceWin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <appSettings>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <userSettings>
    <SpaceWin.Properties.Settings>
      <setting name="MainSize" serializeAs="String">
        <value>400, 80</value>
      </setting>
      <setting name="MainLocation" serializeAs="String">
        <value>100, 100</value>
      </setting>
      <setting name="ViewerSize" serializeAs="String">
        <value>400, 400</value>
      </setting>
      <setting name="ViewerLocation" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="SettingsSize" serializeAs="String">
        <value>200, 300</value>
      </setting>
      <setting name="SettingsLocation" serializeAs="String">
        <value>400, 0</value>
      </setting>
      <setting name="GraphsSize" serializeAs="String">
        <value>800, 300</value>
      </setting>
      <setting name="GraphsLocation" serializeAs="String">
        <value>0, 400</value>
      </setting>
    </SpaceWin.Properties.Settings>
  </userSettings>
  <log4net>
    <appender name="LogFileAppender" type="log4net.Appender.FileAppender">
      <param name="File" value="..\Log\OrbitWin.log" />
      <param name="AppendToFile" value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%date %-5level %logger - %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="ALL" />
      <appender-ref ref="LogFileAppender" />
    </root>
  </log4net>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>